# Блок запуска проекта
run = "python3 main.py"

# Блок указания языка проекта
language = "python3"

# Блок указания главного файла
entrypoint = "main.py"

# Блок скрытых служебных файлов
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

# Блок версии Python
modules = ["python-3.10"]

# Блок настройки Nix-окружения
[nix]
channel = "stable-22_11"
packages = ["gdb"]

# Блок unit-тестов
[unitTest]
language = "python3"

# Блок импорта из GitHub
[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "venv"]

# Блок развертывания проекта
[deployment]
run = ["sh", "-c", "python3 main.py"]

# Блок настройки портов
[[ports]]
localPort = 5000
externalPort = 80

# Блок режима агента Replit
[agent]
expertMode = true
