/* Блок общих настроек страницы */
html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Блок оформления текста и ссылок */
p, a {
  line-height: 1.5em;
}

/* Блок скрытия индикатора загрузки до запуска модели */
#loading {
  display: none;
}

/* Блок оформления заголовков и ссылок */
h1, a {
  color: #6706ce;
}

/* Блок размещения основного содержимого страницы */
main {
  width: 40em;
  margin: auto;
  text-align: center;
}

/* Блок оформления кнопок */
.styled-button {
  color: #fff;
  text-align: center;
  background-color: #6706ce;
  border: 1px solid #6706ce;
  border-radius: 4px;
  padding: 13px 20px;
  line-height: 1.5em;
  text-decoration: none;
  display: block;
  margin: 10px;
  margin-bottom: 25px;
  width: 100%;
}

/* Блок области распознавания */
.infer-widget {
  width: 480px;
  margin: auto;
}

/* Блок размещения ссылок */
.links {
  display: flex;
  text-align: center;
}